<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19084168263-lann4sav1e06vtk52h3ejqa4tb9reg7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19084168263-lann4sav1e06vtk52h3ejqa4tb9reg7m</string>
	<key>API_KEY</key>
	<string>AIzaSyCvkYnyZGbu7o4H-8hpSOT4_4Q66Ro-6-s</string>
	<key>GCM_SENDER_ID</key>
	<string>19084168263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flyyFlutterDemo</string>
	<key>PROJECT_ID</key>
	<string>flyyx-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flyyx-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19084168263:ios:fd97f91797af24590cb562</string>
</dict>
</plist>